html {
	font-family: var( --font-text );
	font-size: var( --font-base-size );
}

body {
	background-color: var( --color-brand-3 );
	overflow-y: hidden; /* required to prevent pull down to refresh on Android Chrome */
}

a, button {
	border: none;
	color: var( --color-action );
	cursor: pointer;
	font-size: 1.4rem;
	text-decoration: none;
}

button:focus {
	outline: none;
}

a:hover {
	text-decoration: underline;
}

p{
	font-size: 1.4rem;
}

.logo{
	height: 38px;
	margin: 10px;
	width: var( --logo-width );
}

h1, h2, h3, h4, h5, h6{
	color: #ffffff;
	margin: 0;
}

h1{
	font-size: 2.6rem;
	margin: var( --stage-spacing );
	opacity: 0.75;
}

h2,{
	color: #666666;
	font-size: 1.6rem;
}

h3{
	font-size: 1.4rem;
}

h4{
	font-size: 1.2rem;
}

h5{
	font-size: 1.1rem;
}

h6{
	font-size: 1rem;
}

.ui {
	-ms-display: block;
	display: grid;
	grid-template-rows: auto 1fr;
	height: 100vh;
	min-width: 320px;
}

.ui--subnav{
	grid-template-rows: auto var( --secondary-nav-height ) 1fr;
}

.navbar {
	background-color: var( --color-brand-1 );
	display: flex;
}

.navbar--subnav {
	background-color: var( --color-brand-2 );
	border-top: 1px solid #efc94c;
}

.boards-nav {
	background-color: #457b9a;
	box-sizing: border-box;
	display: flex;
	max-height: 0;
	opacity: 0;
	overflow-x: auto;
	overflow-y: hidden;
	transition: max-height 0.5s, opacity 0.75s;

	& :after {
		content: '';
		flex: 0 0 var( --stage-spacing );
	}
}

.ui--active .boards-nav, .ui--subnav--active .boards-nav {
	display: flex;
	max-height: 150px;
	opacity: 1;
}

.board-nav-board {
	background-color: #f0f8ff;
	flex: 0 0 auto;
	height: 110px;
	margin: var( --stage-spacing ) 0 var( --stage-spacing ) var( --stage-spacing );
	width: 150px;
}

.nav-link {
	background-color: #334d5c;
	color: #f0f8ff;
	padding: 20px 10px;
	text-transform: uppercase;
	transition: background-color 0.75s;
}

.ui--active .nav-link, .ui--subnav--active .nav-link {
	background-color: #457b9a;
}

.boards-nav-wrapper {
	flex: 1 100%;
	opacity: 0;
	overflow-x: auto;
	overflow-y: hidden;
	transition: opacity 0.75s;
}

.ui--subnav--active .boards-nav-wrapper {
	opacity: 1;
}

header.navbar {
	flex-flow: wrap;
	overflow-x: auto;
}
