table {
	margin: auto;
}

thead {
	background-color: var( --table-head );
	color: var( --table-head-text );
	font-size: 1.4rem;
	font-weight: 700;
}

tbody {
	font-size: 1.3rem;
}

tr {
	border-bottom: 1px solid var( --table-border );
	white-space: nowrap;
	&:nth-child( even ) {
		background-color: var( --table-alt-row );
	}
}

th, td {
	padding: 5px;
	text-align: center;
}
