<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "head.njk" %}
        {% if site.env %}
            <!-- Capture the CSS content as a Nunjucks variable -->
            {% set css %}{% include "styles.min.css" %}{% endset %}
            <style>
                {{css | safe}}
            </style>
        {% else %}
            <link rel="stylesheet" href="static/css/villains.css">
        {% endif %}

        <!-- Try and serve Google Fonts in the most efficent way possible -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap" rel="stylesheet"> 
        <noscript>
            <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap" rel="stylesheet" type="text/css"/>
        </noscript>
    </head>
    <body>
        <a href="#main" class="skip-link">Skip to main content</a>
        <img src="static/img/logo.svg">
        {{ content | safe }}

        <ul>
            <li>
                <a href="" id="userlink">Username</a>
            </li>
            <li>
                <a href="" id="signoutlink">Sign out</a>
            </li>
        </ul>

        <script>
            
            let userlink = document.getElementById( 'userlink' );
            let signoutlink = document.getElementById( 'signoutlink' );

            var currentUser = null;

            function getUsername(){
                let persistLogin = localStorage.getItem( 'persistLogin' );

                if ( persistLogin ) {
                    currentUser = JSON.parse( localStorage.getItem( 'user' ));
                } else {
                    currentUser = JSON.parse( sessionStorage.getItem( 'user' ));
                }
            }

            function logOut() {
                sessionStorage.removeItem( 'user' );
                localStorage.removeItem( 'user' );
                localStorage.removeItem( 'persistLogin' );
                window.location = "login.html";
            }

            window.onload = function(){
                getUsername();

                if( !currentUser === null ) {
                    userlink.innerText = currentUser.username;
                    signoutlink.addEventListener( 'click', logOut());
                }
            }

        </script>

    </body>
</html>
