<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.njk" %}
  </head>
  <body class="bg-slate-200">
    {% include "header.njk" %}
    {{ content | safe }}

    <ul>
      <li>
        <a href="/profile.html" id="userlink">Username</a>
      </li>
      <li>
        <a href="/login.html" id="signoutlink">Sign out</a>
      </li>
    </ul>

    <script type="text/javascript" src="static/js/verify.js"></script>

  </body>
</html>
