<!DOCTYPE html>
<html lang="en">
	<head>
			{% include "head.njk" %}
			<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" type="text/javascript"></script>
	</head>
	<body class="bg-slate-100">
		{% include "header.njk" %}
		{{ content | safe }}

    <script type="text/javascript" src="static/js/fb-auth.js"></script>
    
	</body>
</html>
