<!DOCTYPE html>
<html lang="en">
	<head>
		{% include "head.njk" %}
	</head>
	<body>
		{% include "header.njk" %}
		<div>
			<h1>Register</h1>
			<input type="text" placeholder="full name" id="name">
			<input type="text" placeholder="email" id="email">
			<input type="text" placeholder="username" id="username">
			<input type="text" placeholder="password" id="password">
			<button id="register">Register</button>
			<a href="login.html">Already have an account?</a>
		</div>

		<script type="text/javascript" src="/static/js/fb-register.js"></script>

	</body>
</html>
