<!DOCTYPE html>
<html lang="en">
	<head>
		{% include "head.njk" %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" type="text/javascript"></script>
	</head>
	<body>
		{% include "header.njk" %}
		<div>
			<h1>Register</h1>
			<input type="text" placeholder="full name" id="name">
			<input type="text" placeholder="email" id="email">
			<input type="text" placeholder="username" id="username">
			<input type="text" placeholder="password" id="password">
			<button id="register">Register</button>
			<a href="login.html">Already have an account?</a>
		</div>

		<script type="module">
				
			import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.3/firebase-app.js";

			const firebaseConfig = {
					apiKey: "AIzaSyBZ5WixG8C9muu1yiDflycoYTMosJCkgCs",
					authDomain: "poker-villains.firebaseapp.com",
					databaseURL: "https://poker-villains.firebaseio.com",
					projectId: "poker-villains",
					storageBucket: "poker-villains.appspot.com",
					messagingSenderId: "615154241822",
					appId: "1:615154241822:web:c45077c1994982732ff90f"
			};

			const app = initializeApp(firebaseConfig);

			import { getDatabase, ref, set, child, get } from "https://www.gstatic.com/firebasejs/9.6.3/firebase-database.js";

			const db = getDatabase();

			// console.log(db);

			const name = document.getElementById("name");
			const email = document.getElementById("email");
			const username = document.getElementById("username");
			const pwd = document.getElementById("password");
			const submit = document.getElementById("register");

			// register user
			function registerUser() {

				// TODO: Sanitize input values

				const dbRef = ref(db)
				//console.log("dbRef: " + dbRef);

				get( child( dbRef, "users/" + username.value ) ).then( (snapshot) => {

					if( snapshot.exists() ){
						alert( "Account exists" );
					}

					else {
						set( ref( db, "users/" + username.value ),
						{
							fullname: name.value,
							email: email.value,
							username: username.value,
							password: hashPwd(),
						})
						.then ( ()=> {
							alert( "User added successfully" );
						})
						.catch( (error)=> {
							alert( "error: " + error );
						})
					}

				})

			}

			submit.addEventListener( 'click', registerUser );

			function hashPwd(){
				var pwdHash = CryptoJS.AES.encrypt( pwd.value, pwd.value );
				return pwdHash.toString();
			}

		</script>
	</body>
</html>
