@import "tailwindcss";

@theme {
  --color-background: #f9f9f9;
  --color-surface: #ffffff;
  --color-accent: #35654d;
  --color-accent-light: #4a8c6a;
  --color-text-primary: #1a1a1a;
  --color-text-secondary: #6b7280;
  --color-danger: #c0392b;

  --font-family-sans: "Inter", system-ui, sans-serif;

  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
}
