---
layout: admin.njk
title: Poker Villains - Management dashboard
description: Sunday night poker league management - Admin area
permalink: "/admin/dashboard.html"
---

<main id="main" class="flex flex-wrap justify-center items-center p-6 md:p-12 lg:p-16 border-t-8 border-primary-700">
</main>