---
layout: admin.njk
title: Poker Villains - Seasons
description: Season creation and management
permalink: "/admin/season.html"
script: "/static/js/fb-season.js"
---

<main id="main" class="flex flex-wrap justify-center items-center p-6 md:p-12 lg:p-16 border-t-8 border-primary-700">
  <!-- get a dropdown list of active seasons -->
  <h1>Season management</h1>
  <select>
  </select>

</main>