---
layout: base.njk
title: Poker Villains
description: Sunday night poker league management app
---

<main id="main" class="p-6 md:p-12 lg:p-16 border-t-8 border-orange-500">
    <h1 class="font-bold text-3xl mb-2">Poker Villains <span class="font-light text-gray-500">v{{ pkg.version }}</span></h1>
    <p>Sunday night poker league management app</p>
</main>
